*{
	margin: 0px;
	padding:0px;
}


body
	{
			background-image: url("fondo3.jpg");
			font-family:tahoma, Geneva, sans-serif;
			font-style:normal;
			font-weight:15px; 
	}

#datos_basic
	{
	width:960px;
	margin: auto;
	margin-top: 320px;
	margin-bottom:320px;
	background:white;
	text-align-last: center;
	text-decoration-style: fantasy; 
}

 
